<a href="https://colab.research.google.com/github/picazio/HUGWork/blob/master/CODBAR_HUG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import all libraries

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
from sklearn.metrics import mean_squared_error
from scipy.optimize import curve_fit
from scipy.optimize import fsolve
import matplotlib.pyplot as plt
%matplotlib inline

Import dataframe and explore it

In [0]:
url="/Users/euclide/Desktop/Codbar_update.xls"
df = pd.read_excel(io=url, sheet_name='Sheet1')

df.head()

   Codbar                      rue1
0  110472           RUE DES EVAUX 3
1  110473  RUE FRANCOIS DURAFOUR 12
2  110476       RUE SAINT LAURENT 2
3  110487        CH PLEIN CHAMPS 11
4  110499          RTE DE JUSSY 18B

Define some criteria to indentify families. There are old patients and new patients

Define a fuction containing the critetia to create the new column of number of people in each household

In [0]:
def create_households(x) :
    listold=['11','21','31','41']
    if len(str(x))==6 :
        return str(x)
    elif (any(c in str(x)[:2] for c in listold) and len(str(x))==7) or len(str(x))==8 :
        return str(x)[:-1]
    else :
        return str(x)

Apply the function to produce the

In [0]:
df['Households_codbar']=df['Codbar'].apply(lambda x: create_households(x))

df.head()

   Codbar                      rue1 Households_codbar
0  110472           RUE DES EVAUX 3            110472
1  110473  RUE FRANCOIS DURAFOUR 12            110473
2  110476       RUE SAINT LAURENT 2            110476
3  110487        CH PLEIN CHAMPS 11            110487
4  110499          RTE DE JUSSY 18B            110499

Now for each patient 0 we want to count the number of "family members" that have been tested

In [0]:
df['Family_size']=df['Households_codbar'].map(df['Households_codbar'].value_counts())

Let's check if it works

In [0]:
#df[df['Codbar'].apply(lambda x: len(str(x))>=7)]
df[2992:2999]

        Codbar                         rue1 Households_codbar  Family_size
2992   1610156  CHEMIN DES DEUX COMMUNES 23           1610156            1
2993   1610159         Chemin de l'Eglise 5           1610159            5
2994  16101591         Chemin de l'Eglise 5           1610159            5
2995  16101592         Chemin de l'Eglise 5           1610159            5
2996  16101593         Chemin de l'Eglise 5           1610159            5
2997  16101594         Chemin de l'Eglise 5           1610159            5
2998   1610161     AVENUE DU GROS CHENE 14B           1610161            1

Save to a new excel file

In [0]:
df.to_excel("/Users/euclide/Desktop/output.xlsx")

Now we need to check if family members are really coming from the same address

In [0]:
df[df['Family_size']>3]

        Codbar                         rue1 Households_codbar  Family_size
92      110822            chemin diodati 10            110822            4
93     1108221            chemin diodati 10            110822            4
94     1108222            chemin diodati 10            110822            4
95     1108223            chemin diodati 10            110822            4
500    1210558    RUE DE LA MAISON FORTE 28           1210558            4
501   12105581                          NaN           1210558            4
502   12105582                          NaN           1210558            4
503   12105583                          NaN           1210558            4
618    1210813          RUE LE CORBUSIER 40           1210813            4
619   12108131                          NaN           1210813            4
620   12108132                          NaN           1210813            4
621   12108133                          NaN           1210813            4
727    1211069           Parc des Mayens 1c           1211069            4
728   12110691           Parc des Mayens 1c           1211069            4
729   12110692           Parc des Mayens 1c           1211069            4
730   12110693           Parc des Mayens 1c           1211069            4
821    1310160     AVENUE LOUIS BERTRAND 27           1310160            4
822   13101601     AVENUE LOUIS BERTRAND 27           1310160            4
823   13101602     AVENUE LOUIS BERTRAND 27           1310160            4
824   13101603     AVENUE LOUIS BERTRAND 27           1310160            4
1049   1310579     CHEMIN WILLIAM BARBEY 16           1310579            4
1050  13105791     CHEMIN WILLIAM BARBEY 16           1310579            4
1051  13105792     CHEMIN WILLIAM BARBEY 16           1310579            4
1052  13105793     CHEMIN WILLIAM BARBEY 16           1310579            4
1120   1310684     ROUTE DE LA CHAPELLE 25F           1310684            4
1121  13106841     ROUTE DE LA CHAPELLE 25F           1310684            4
1122  13106842     25f Route de la Chapelle           1310684            4
1123  13106843     route de la chapelle 25F           1310684            4
1643   1410331             2 RUE DE LA MUSE           1410331            4
1644  14103311             2 RUE DE LA MUSE           1410331            4
...        ...                          ...               ...          ...
9514   4188867       CLOS DES ECORNACHES 42            418886            6
9521   4188901   CHEMIN FRANCOIS LEHMANN 10            418890            5
9522   4188904             AVENUE D AIRE 75            418890            5
9523   4188906       ROUTE DE BARDONNEX 254            418890            5
9524   4188907         CHEMIN DE FOSSARD 51            418890            5
9525   4188908       ROUTE DE FLORISSANT 52            418890            5
9526   4188914           AVENUE DU LIGNON 7            418891            4
9527   4188915   CH DES CRETS DE CHAMPEL 15            418891            4
9528   4188918        CHEMIN DES MOLLIES 48            418891            4
9529   4188919    ROUTE DU GRAND LANCY 104B            418891            4
9530   4188920           AVENUE ROSEMONT 15            418892            6
9531   4188922  BOULEVARD DES PHILOSOPHES 2            418892            6
9532   4188923          AVENUE DU LIGNON 13            418892            6
9533   4188924               RUE CHABREY 27            418892            6
9534   4188925           RUE DES BATTOIRS 4            418892            6
9535   4188928    CHEMIN DU COIN DE TERRE 5            418892            6
9536   4188930     CHEMIN DU VIEUX PUITS 30            418893            4
9537   4188931                RUE DE LYON 7            418893            4
9538   4188935      AVENUE ERNEST PICTET 22            418893            4
9539   4188939       CHEMIN FRANK THOMAS 80            418893            4
9550   4188983            RUE DE MONTHOUX 8            418898            4
9551   4188985     CHEMIN DE L ARGILIERE 10            418898            4
9554   4188987          ROUTE DES ACACIAS 6            418898            4
9555   4188988      CHEMIN DE CHALLENDIN 12            418898            4
9556   4188990              RUE DE FREMIS 7            418899            6
9557   4188991            RUE DE GENEVE 119            418899            6
9558   4188993               RUE MAUNOIR 13            418899            6
9559   4188994           CHEMIN DES FINS 15            418899            6
9560   4188996  CHEMIN DE MOUILLE GALAND 2E            418899            6
9561   4188997                RUE CRESPIN 6            418899            6

[1517 rows x 4 columns]