<a href="https://colab.research.google.com/github/picazio/HUGWork/blob/master/CODBAR_HUG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import all libraries

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
from sklearn.metrics import mean_squared_error
from scipy.optimize import curve_fit
from scipy.optimize import fsolve
import matplotlib.pyplot as plt
%matplotlib inline

Import dataframe and explore it

In [0]:
url="/Users/euclide/Downloads/REDCap_clean_08_05.xls"
df = pd.read_excel(io=url, sheet_name='Sheet1')

df.head()

   Codbar                      rue1
0  110472           RUE DES EVAUX 3
1  110473  RUE FRANCOIS DURAFOUR 12
2  110476       RUE SAINT LAURENT 2
3  110487        CH PLEIN CHAMPS 11
4  110499          RTE DE JUSSY 18B

Define some criteria to indentify families. There are old patients and new patients

Define a fuction containing the critetia to create the new column of number of people in each household

In [0]:
def create_households(x) :
    listold=['11','21','31']
    listold2=['410','411']
    if len(str(x))==6 :
        return str(x)
    elif (any(c in str(x)[:2] for c in listold) and len(str(x))==7) :
        return str(x)[:-1]
    elif len(str(x))==8 :
        return str(x)[:-1]
    elif (any(c in str(x)[:3] for c in listold2) and len(str(x))==7) :
        return str(x)[:-1]
    else :
        return str(x)

Apply the function to produce the 'Households_codbar' column

In [0]:
df['Households_codbar']=df['Codbar'].apply(lambda x: create_households(int(x)))

df.head()

   Codbar                      rue1 Households_codbar
0  110472           RUE DES EVAUX 3            110472
1  110473  RUE FRANCOIS DURAFOUR 12            110473
2  110476       RUE SAINT LAURENT 2            110476
3  110487        CH PLEIN CHAMPS 11            110487
4  110499          RTE DE JUSSY 18B            110499

Now for each patient 0 we want to count the number of "family members" that have been tested

In [0]:
df['Family_size']=df['Households_codbar'].map(df['Households_codbar'].value_counts())

Let's check if it works

In [0]:
#df[df['Codbar'].apply(lambda x: len(str(x))>=7)]
df[2992:2999]

        Codbar                         rue1 Households_codbar  Family_size
2992   1610156  CHEMIN DES DEUX COMMUNES 23           1610156            1
2993   1610159         Chemin de l'Eglise 5           1610159            5
2994  16101591         Chemin de l'Eglise 5           1610159            5
2995  16101592         Chemin de l'Eglise 5           1610159            5
2996  16101593         Chemin de l'Eglise 5           1610159            5
2997  16101594         Chemin de l'Eglise 5           1610159            5
2998   1610161     AVENUE DU GROS CHENE 14B           1610161            1

Save to a new excel file

In [0]:
df.to_excel("/Users/euclide/Desktop/REDCap_clean_08_05a.xls")

Sanity check:

In [0]:
df[df['Family_size']>5]